
<div id="columnized-<?php echo $this->id; ?>" class="columnized<?php if($this->cssID[1]) echo " ".$this->cssID[1]; ?>">
	<div class="<?php echo $this->class; ?> ce_text block"<?php if ($this->style): ?> style="<?php echo $this->style; ?>"<?php endif; ?>>
	
	  <?php if ($this->headline): ?>
	    <<?php echo $this->hl; ?>><?php echo $this->headline; ?></<?php echo $this->hl; ?>>
	  <?php endif; ?>
	
	  <?php if (!$this->addBefore): ?>
	    <?php echo $this->text; ?>
	  <?php endif; ?>
	
	  <?php if ($this->addImage): ?>
	    <div class="image_container<?php echo $this->floatClass; ?>"<?php if ($this->margin || $this->float): ?> style="<?php echo trim($this->margin . $this->float); ?>"<?php endif; ?>>
	
	      <?php if ($this->href): ?>
	        <a href="<?php echo $this->href; ?>"<?php if ($this->linkTitle): ?> title="<?php echo $this->linkTitle; ?>"<?php endif; ?><?php echo $this->attributes; ?>>
	      <?php endif; ?>
	
	      <img src="<?php echo $this->src; ?>"<?php echo $this->imgSize; ?> alt="<?php echo $this->alt; ?>"<?php if ($this->title): ?> title="<?php echo $this->title; ?>"<?php endif; ?> />
	
	      <?php if ($this->href): ?>
	        </a>
	      <?php endif; ?>
	
	      <?php if ($this->caption): ?>
	        <div class="caption" style="width:<?php echo $this->arrSize[0]; ?>px"><?php echo $this->caption; ?></div>
	      <?php endif; ?>
	
	    </div>
	  <?php endif; ?>
	
	  <?php if ($this->addBefore): ?>
	    <?php echo $this->text; ?>
	  <?php endif; ?>
	
	</div>
</div>
